@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #fafafa;
  color: #dcdcdc;
  font-family: Open Sans;
}

.logo {
  margin-bottom: 20px;
  max-height: 60px;
}
.login-box {
  margin-top: 100px;
  text-align: center;
  width: 430px;
  height: 380px;
  background-color: white;
  padding: 36px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 8px 8px;
}
.letras {
  margin-bottom: 20px;
}
.form-control {
  margin-bottom: 20px;
}
.btn {
  width: 100%;
  font-size: 16px;
}
.olvido-password {
  margin-top: 15px;
}
